<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  TopUAI, o portal de notícias de agronegócio, política, turismo, social esportes, saúde e beleza do Triângulo Mineiro, classificados e eventos.

</ion-content>
