<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="box-login">
    <form (ngSubmit)="loginForm()" >
    <ion-item>
      <ion-label color="dark" stacked>Usuário</ion-label>
      <ion-input placeholder="Usuário" [(ngModel)]="formLogin.login" name="login" autocapitalize="none" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>Senha</ion-label>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="formLogin.password" autocapitalize="none" name='password' required></ion-input>
    </ion-item>
    <button ion-button type="submit" full color="dark">Entrar</button>
  </form>
  <button ion-button full [navPush]="registerPage" color="topuai">Cadastre-se gratuitamente</button>
  </div>
</ion-content>
