page-register {
	.scroll-content {
		padding: 30px;

		.register-button {
			width: 50%;
			height: 36px;
		}
		button {
			margin: 15px 0;
		}
		.item {
			padding-left: 0;

			.item-inner {
				padding: 0;

				ion-label {
					margin-right: 0;
				}
				
				ion-input {
					font-size: 20px;
				}
			}
			.register-button-or{
				font-size: 1.2rem;
			}
		}
		.register-button-picture{
			margin-top: 30px;
		}
	}
}
