<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="registerForm()" [formGroup]="formRegister">
    <ion-item>
      <ion-label color="dark" stacked>Nome Completo</ion-label>
      <ion-input placeholder="Nome Completo" formControlName="nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>CPF</ion-label>
      <ion-input placeholder="CPF" formControlName="cpf" required [textMask]="{mask: mask}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>E-mail</ion-label>
      <ion-input placeholder="E-mail" type="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>Data de Nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="nasc"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>Cidade</ion-label>
      <ion-input placeholder="Cidade" formControlName="cidade" required></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>UF</ion-label>
    <ion-select formControlName="uf">
      <ion-option value="AC">Acre</ion-option>
      <ion-option value="AL">Alagoas</ion-option>
      <ion-option value="AP">Amapá</ion-option>
      <ion-option value="AM">Amazonas</ion-option>
      <ion-option value="BA">Bahia</ion-option>
      <ion-option value="CE">Ceará</ion-option>
      <ion-option value="DF">Distrito Federal</ion-option>
      <ion-option value="ES">Espírito Santo</ion-option>
      <ion-option value="GO">Goiás</ion-option>
      <ion-option value="MA">Maranhão</ion-option>
      <ion-option value="MT">Mato Grosso</ion-option>
      <ion-option value="MS">Mato Grosso do Sul</ion-option>
      <ion-option value="MG">Minas Gerais</ion-option>
      <ion-option value="PA">Pará</ion-option>
      <ion-option value="PB">Paraíba</ion-option>
      <ion-option value="PR">Paraná</ion-option>
      <ion-option value="PE">Pernambuco</ion-option>
      <ion-option value="PI">Piauí</ion-option>
      <ion-option value="RJ">Rio de Janeiro</ion-option>
      <ion-option value="RN">Rio Grande do Norte</ion-option>
      <ion-option value="RS">Rio Grande do Sul</ion-option>
      <ion-option value="RO">Rondônia</ion-option>
      <ion-option value="RR">Roraima</ion-option>
      <ion-option value="SC">Santa Catarina</ion-option>
      <ion-option value="SP">São Paulo</ion-option>
      <ion-option value="SE">Sergipe</ion-option>
      <ion-option value="TO">Tocantins</ion-option>
    </ion-select>
  </ion-item>
    <ion-item [hidden]="edit==1">
      <ion-label color="dark" stacked>Login</ion-label>
      <ion-input placeholder="Login" formControlName="login" required></ion-input>
    </ion-item>
    <!-- <ion-item [hidden]="!edit==1">
      <ion-label color="dark" stacked>Senha Atual</ion-label>
      <ion-input placeholder="Senha Atual" type="password" formControlName="pass3" value="{{pass3}}"></ion-input>
    </ion-item> -->
    <ion-item [hidden]="edit==1">
      <ion-label color="dark" stacked>{{labelpass}}</ion-label>
      <ion-input placeholder={{labelpass}} type="password" formControlName="pass" value="{{pass}}" ></ion-input>
    </ion-item>
    <ion-item [hidden]="edit==1">
      <ion-label color="dark" stacked>{{labelpass2}}</ion-label>
      <ion-input placeholder="{{labelpass2}}" type="password" formControlName="pass2" value="{{pass2}}" ></ion-input>
    </ion-item>
    <!-- <ion-item>
       <a (click)="openTermo();">Termos de Uso</a> e <a (click)="openPolitica();">Política de Privacidade</a>
    </ion-item>
    <ion-item>
      <ion-label style="white-space:normal;">Li e concordo com os Termos de Uso e Politica de Privacidade.</ion-label>
      <ion-checkbox formControlName="termo" checked="false" color="dark"></ion-checkbox>
    </ion-item> -->
    <button ion-button type="submit" full color="topuai" [disabled]="!formRegister.valid">{{labelsalvar}}</button>
  </form>
</ion-content>
