<ion-tabs color='dark' #myTabs>
  <ion-tab [root]="tab1Root" [rootParams]="ParamsData" tabTitle="Home" tabIcon="home" color='dark'></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="[{topuai:1}]" tabTitle="TopUai" tabIcon="play" color='dark' ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Descontos" tabIcon="star" color='dark'></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Cartão" tabIcon="card" color='dark' ></ion-tab>
</ion-tabs>


