<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
    <ion-toolbar>
      <ion-title>
        <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
        <span [hidden]='breadcrumb2==""'>|</span> {{breadcrumb2}}
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder='Pesquise por cidade, categoria ou nome' (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let promocao of items" [navPush]="promocao_page" [navParams]="promocao">
      <ion-avatar item-left>
        <img class="promocao-thumbnail" src="{{promocao.field_empresa_divulgacao}}">
      </ion-avatar>
      <h2>{{promocao.title}}</h2>
      <p><ion-badge color="topuai">{{promocao.field_empresa_desconto}}</ion-badge>
      <span class="desconto">{{promocao.field_empresa_cidade}}</span>
      <span class="desconto">{{promocao.field_empresa_segmento}}</span></p>
      <!-- <button ion-button clear item-right><ion-icon name="heart-outline"></ion-icon></button> -->
    </ion-item>
  </ion-list>
</ion-content>
