page-promocoes {
	.list{
		padding: 0 15px;

		.item {
			padding-left: 0;
			border-bottom: 1px solid #dedede;

			.promocao-thumbnail{
					width: 60px !important;
					height: 60px !important;
				}

			.item-inner{
				border: none !important;
				// .badge {
				// 	margin-left: 14px;
				// 	position: relative;

				// }
				// .badge:after{
				// 	right: 100%;
				// 	border: solid transparent;
				// 	content: " ";
				// 	height: 0;
				// 	width: 0;
				// 	position: absolute;
				// 	border-color: rgba(136, 183, 213, 0);
				// 	border-width: 14px;
				// 	top: 50%;
				// 	left: -24px;
				// 	margin-top: -14px;
				// 	border-right-color: #f44336;
				// }
				span.desconto {
			    font-size: 12px;
			    vertical-align: text-top;
			    padding: 4px;
			    border-radius: 4px;
			    color: #867f7f;
			    background-color: #f7f7f7;
				}
			}
		}
	}
}
