page-materias-categoria {
  
}
.card-background-page{
    ion-slides.slides{
      height: auto;
    }
    .card{
      position: relative;
      float: left;
      .desc_card{
        .categoria_home{
          background-color: red;
          color: #fff;
          float: left;
          padding: 4px;
          position: relative;
          text-transform: uppercase;
          width: auto;
          font-size: 13px;
          margin-bottom: 10px;
        }
        p{
          position: relative;
          float: left;
          width: 100%;
          height: auto;
          background-color: rgba(0,0,0,0.5);
          padding: 10px;
        }
        position: absolute;
        bottom: 0;
      }
    }
  }
