<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
    <ion-toolbar>
      <ion-title>
        <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
        <span [hidden]='breadcrumb2==""'>|</span> {{breadcrumb2}}
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card *ngFor="let materia of materias" [navPush]="materiapage" [navParams]="materia" [hidden]='!HasMaterias'>
    <img src="{{materia.field_image}}">
    <div class='desc_card'>
      <ion-card-content >
        <div class="categoria_home" [hidden]='materia.field_category==""'>{{materia.field_category}}</div>
        <p color="light">{{materia.title}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="light">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="light">
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note color="light">
            {{materia.created_1}}
          </ion-note>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
  <ion-card [hidden]='HasMaterias'>
  <ion-card-content>
    Nenhuma notícia cadastrada nessa categoria.
  </ion-card-content>
</ion-card>
</ion-content>
