<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
  <ion-toolbar [hidden]='breadcrumb1==""&&breadcrumb2==""'>
    <ion-title>
      <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
      <span [hidden]='breadcrumb1==""||breadcrumb2==""'>|</span> {{breadcrumb2}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let categoria of categorias" [navPush]="pageCategorias" [navParams]="[{cidade:cidade,page:categoria,filter_categoria:1}]">
      <h2>{{categoria.name[0].value}}</h2>
      <h3 [hidden]='categoria.description[0].value==null' [innerHTML]="categoria.description[0].value"></h3>
    </ion-item>
  </ion-list>
</ion-content>
