<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div ion-fixed class="box-login">
		<p>Cadastre-se para visualizar o seu cartão TopUai</p>
		<button ion-button [navPush]="loginPage" color="dark">Entrar</button>
    <button ion-button [navPush]="registerPage" color="topuai">Cadastre-se gratuitamente</button>
	</div>
</ion-content>
