<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="contatoFormSend()" >
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked color='dark'>Nome</ion-label>
        <ion-input placeholder="Nome" [(ngModel)]="formContato.nome" name='nome' required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked color='dark'>Telefone</ion-label>
        <ion-input type="tel" placeholder="Telefone" [(ngModel)]="formContato.tel" name='tel' required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked color='dark'>E-mail</ion-label>
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="formContato.email" name='email' required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked color='dark'>Mensagem</ion-label>
        <ion-textarea [(ngModel)]="formContato.mensagem" name='mensagem' required></ion-textarea>
      </ion-item>
      <ion-item>
        <button ion-button full color='topuai' type="submit">Enviar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
