<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
  <ion-toolbar [hidden]='breadcrumb1==""&&breadcrumb2==""'>
    <ion-title>
      <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
      <span [hidden]='breadcrumb1==""||breadcrumb2==""'>|</span> {{breadcrumb2}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="Home card-background-page" [ngClass]="{'padding_top': classScroll}">
  <ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class='slide_home' [hidden]='materias_slide_topo==null'>
    <ion-slides autoplay='4000'>
      <ion-slide  *ngFor="let materia of materias_slide_topo" [navPush]="materiapage" [navParams]="materia">
        <div class='item'>
          <img src="{{materia.field_image}}">

          <div class="categoria_home" >{{materia.field_url_cidade_1=="" || cidade==true? materia.field_category : materia.field_url_cidade_1}}</div>

          <div class='desc_card'>
            <ion-card-content >
              <p color="light" [innerHtml]=materia.title ></p>
            </ion-card-content>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div class='navegacao'>
      <button ion-button round outline (click)="nextSlide()" color="light" class='left' color="dark" ><ion-icon name="ios-arrow-back"></ion-icon></button>
      <button ion-button round outline (click)="prevSlide()" color="light" class='right' color="dark"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </div>
  </div>
<!-- inicio 3 matéria soltas slide -->
  <ion-item-group class='list_thumbsnail'>
    <div class='elemento_default' *ngFor="let materia_slide_topo2 of materias_slide_topo2;let i = index;">
      <ion-item class='list_thumbsnail_item' [navPush]="materiapage" [navParams]="materia_slide_topo2">
        <ion-thumbnail item-left [hidden]='materia_slide_topo2.field_image==""'>
          <img src="{{materia_slide_topo2.field_image}}">
        </ion-thumbnail>
        <p class='title_thumb_cidade_line'>{{cidade==true?materia_slide_topo2.field_category:materia_slide_topo2.field_url_cidade_1=="" ? materia_slide_topo2.field_category : materia_slide_topo2.field_url_cidade_1}}
        </p>
        <h3 style="white-space:normal;clear: both;" class="{{materia_slide_topo2.field_image=='' ? 'no-img' : 'has-img' }}" [innerHtml]=materia_slide_topo2.title></h3>
      </ion-item>
    </div>
  </ion-item-group>
  <!-- Fim 3 matéria soltas slide -->

  <!-- inicio destaques da semana -->
  <ion-item-group [hidden]='materias_destaque_semana==null||isOnlyCidade==1' >
    <ion-item-divider color="light" >Destaques da Semana</ion-item-divider>

    <div class='navegacao_top'>
      <button ion-button round outline (click)="nextSlideDestaques()" color="light" class='left' color="dark" ><ion-icon name="ios-arrow-back"></ion-icon></button>
      <button ion-button round outline (click)="prevSlideDestaques()" color="light" class='right' color="dark"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </div>
    <ion-slides #destaques autoplay='4000'>
      <ion-slide *ngFor="let materia_destaque_semana of materias_destaque_semana;let i = index;" [navPush]="materiapage" [navParams]="materia_destaque_semana">
        <ion-card class='item'>
          <img src="{{materia_destaque_semana.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade'>{{cidade==true?materia_destaque_semana.field_category:materia_destaque_semana.field_url_cidade_1==""?materia_destaque_semana.field_category:materia_destaque_semana.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_destaque_semana.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item-group>
  <!-- FIM destaques da semana -->
  <div class="publicidade">
    <!-- Zona ML-B. Mobile Leaderboard Capa 1 -->
    <span class='label'>PUBLICIDADE</span>
    <div class='zone27'></div>
      <!-- Zona ML-B. Mobile Leaderboard Capa 1 -->
  </div>
  <!-- Inicio do conteudo -->
  <ion-item-group  class='list_thumbsnail' *ngFor="let materia_destaque_categorias of materias_destaque_categorias" [hidden]="isHome==1||isOnlyCidade==1">
    <ion-item-divider color="light">{{editoria==true ? '' :materia_destaque_categorias["0"].field_category}}</ion-item-divider>
    <div class='elemento_default' *ngFor="let materia_destaque of materia_destaque_categorias;let i = index;">
      <div class='elemento_default' *ngIf="i === 0 && materia_destaque.field_image!=''">
        <ion-card class='item' [navPush]="materiapage" [navParams]="materia_destaque">
        <img src="{{materia_destaque.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade'>{{cidade==true?materia_destaque.field_category:materia_destaque.field_url_cidade_1==""?materia_destaque.field_category:materia_destaque.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_destaque.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
        <div class="publicidade">
        <!-- Zona ML-B. Mobile Leaderboard Capa 2 -->
        <span class='label'>PUBLICIDADE</span>
        <div class='zone28'></div>
        <!-- Zona ML-B. Mobile Leaderboard Capa 2 -->
        </div>
      </div>
      <div class='elemento_default' *ngIf="i!==0">
        <ion-item class='list_thumbsnail_item' [navPush]="materiapage" [navParams]="materia_destaque">
          <ion-thumbnail item-left [hidden]='materia_destaque.field_image==""'>
            <img src="{{materia_destaque.field_image}}">
          </ion-thumbnail>
          <p  class='title_thumb_cidade_line'>{{cidade==true?materia_destaque.field_category:materia_destaque.field_url_cidade_1==""?materia_destaque.field_category:materia_destaque.field_url_cidade_1}}</p>
          <h3 style="white-space:normal;clear:both;" class="{{materia_destaque.field_image=='' ? 'no-img' : 'has-img' }}" [innerHtml]=materia_destaque.title ></h3>
        </ion-item>
      </div>
    </div>
  </ion-item-group>
  <!-- Fim do conteudo -->
  <!-- Inicio do Cotidiano APENAS HOME-->
  <ion-item-group  class='list_thumbsnail' [hidden]="isHome==0||isOnlyCidade==1">
    <ion-item-divider color="light">Cotidiano</ion-item-divider>
    <div class='elemento_default' *ngFor="let materia_cotidiano of materias_cotidiano;let i = index;">
      <div class='elemento_default' *ngIf="i <= 1 && materia_cotidiano.field_image!=''">
        <ion-card class='item' [navPush]="materiapage" [navParams]="materia_cotidiano">
        <img src="{{materia_cotidiano.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade'>{{cidade==true?materia_cotidiano.field_category:materia_cotidiano.field_url_cidade_1==""?materia_cotidiano.field_category:materia_cotidiano.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_cotidiano.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </div>
      <div class='elemento_default' *ngIf="i > 1">
        <ion-item class='list_thumbsnail_item' [navPush]="materiapage" [navParams]="materia_cotidiano">
          <ion-thumbnail item-left [hidden]='materia_cotidiano.field_image==""'>
            <img src="{{materia_cotidiano.field_image}}">
          </ion-thumbnail>
          <p  class='title_thumb_cidade_line'>{{cidade==true?materia_cotidiano.field_category:materia_cotidiano.field_url_cidade_1==""?materia_cotidiano.field_category:materia_cotidiano.field_url_cidade_1}}</p>
          <h3 style="white-space:normal;clear:both;" class="{{materia_cotidiano.field_image=='' ? 'no-img' : 'has-img' }}" [innerHtml]=materia_cotidiano.title ></h3>
        </ion-item>
      </div>
    </div>
  </ion-item-group>
  <!-- Fim Cotidiano -->
  <!-- Inicio do Economia APENAS HOME-->
  <ion-item-group [hidden]="isHome==0||isOnlyCidade==1">
    <ion-item-divider color="light" >Economia</ion-item-divider>
    <div class='navegacao_top'>
      <button ion-button round outline (click)="nextSlideEconomia()" color="light" class='left' color="dark" ><ion-icon name="ios-arrow-back"></ion-icon></button>
      <button ion-button round outline (click)="prevSlideEconomia()" color="light" class='right' color="dark"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </div>
    <ion-slides #destaquesEconomia autoplay='4000'>
      <ion-slide *ngFor="let materia_economia of materias_economia" [navPush]="materiapage" [navParams]="materia_economia">
        <ion-card class='item'>
          <img src="{{materia_economia.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade'>{{cidade==true?materia_economia.field_category:materia_economia.field_url_cidade_1==""?materia_economia.field_category:materia_economia.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_economia.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item-group>
  <!-- Fim Economia -->
  <!-- Inicio do esportes APENAS HOME-->
  <ion-item-group [hidden]="isHome==0||isOnlyCidade==1">
    <ion-item-divider color="light" >Esportes</ion-item-divider>
    <div class='navegacao_top'>
      <button ion-button round outline (click)="nextSlideEsportes()" color="light" class='left' color="dark" ><ion-icon name="ios-arrow-back"></ion-icon></button>
      <button ion-button round outline (click)="prevSlideEsportes()" color="light" class='right' color="dark"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </div>
    <ion-slides #destaquesEsportes autoplay='4000'>
      <ion-slide *ngFor="let materia_esportes of materias_esportes" [navPush]="materiapage" [navParams]="materia_esportes">
        <ion-card class='item'>
          <img src="{{materia_esportes.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade'>{{cidade==true?materia_esportes.field_category:materia_esportes.field_url_cidade_1==""?materia_esportes.field_category:materia_esportes.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_esportes.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item-group>
  <!-- Fim esportes -->
  <!-- Inicio do Variedades APENAS HOME-->
  <ion-item-group  class='list_thumbsnail' [hidden]="isHome==0||isOnlyCidade==1">
    <ion-item-divider color="light">Variedades</ion-item-divider>
    <div class='elemento_default' *ngFor="let materia_variedades of materias_variedades;let i = index;">
      <ion-item class='list_thumbsnail_item' [navPush]="materiapage" [navParams]="materia_variedades">
        <ion-thumbnail item-left [hidden]='materia_variedades.field_image==""'>
          <img src="{{materia_variedades.field_image}}">
        </ion-thumbnail>
        <p  class='title_thumb_cidade_line'>{{cidade==true?materia_variedades.field_category:materia_variedades.field_url_cidade_1==""?materia_variedades.field_category:materia_variedades.field_url_cidade_1}}</p>
        <h3 style="white-space:normal;clear:both;" class="{{materia_variedades.field_image=='' ? 'no-img' : 'has-img' }}" [innerHtml]=materia_variedades.title ></h3>
      </ion-item>
    </div>
  </ion-item-group>
  <!-- Fim Variedades -->
  <div class="publicidade" [hidden]="isOnlyCidade==1">
    <!-- Zona ML-D. Mobile Leaderboard Capa 2 -->
    <span class='label'>PUBLICIDADE</span>
    <div class="zone282"></div>
    <!-- Zona ML-D. Mobile Leaderboard Capa 2 -->
  </div>
  <!-- FIm Zona TopUai - App - Home - Topo Últimas Notícias -->




  <!-- inicio destaques da semana -->
  <ion-item-group class='videos' [hidden]="isHome==0||isOnlyCidade==1">
    <ion-item-divider color="light" >Vídeos em Destaque</ion-item-divider>
    <div class='navegacao_top'>
      <button ion-button round outline (click)="nextSlideVideos()" color="light" class='left' color="dark" ><ion-icon name="ios-arrow-back"></ion-icon></button>
      <button ion-button round outline (click)="prevSlideVideos()" color="light" class='right' color="dark"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </div>
    <ion-slides #videos autoplay='4000'>
      <ion-slide *ngFor="let video of videosData">
        <ion-card class='item'>

          <div class='desc_card'>
            <ion-card-content >
              <div [innerHtml]=video.field_video_embed class='content_video'></div>
              <h3 [innerHtml]=video.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item-group>
  <!-- FIM destaques da semana -->







  <!-- inicio ultimas noticias -->
  <ion-item-group>
    <ion-item-divider color="light" >Últimas Notícias</ion-item-divider>
      <div class='elemento_default' *ngFor="let materia_Ultima of materias_Ultimas;let i = index;" >
        <ion-card class='item' [navPush]="materiapage" [navParams]="materia_Ultima">
          <img src="{{materia_Ultima.field_image}}">
          <div class='desc_card'>
            <ion-card-content >
              <p  class='title_thumb_cidade' >{{cidade==true?materia_Ultima.field_category:materia_Ultima.field_url_cidade_1==""?materia_Ultima.field_category:materia_Ultima.field_url_cidade_1}}</p>
              <h3 [innerHtml]=materia_Ultima.title ></h3>
            </ion-card-content>
          </div>
        </ion-card>
      </div>
  </ion-item-group>
  <!-- FIM ultimas noticias -->
  <div class="publicidade" >
    <!-- Zona AB-B. Arroba Capa 2 -->
    <span class='label'>PUBLICIDADE</span>
      <div class='zone18'></div>
    <!-- Zona AB-B. Arroba Capa 2 -->
  </div>
  <!-- Inicio Zona TopUai - App - Home - Footer -->
  <div class='margin-publicidade'></div>
</ion-content>
<div class="publicidade-rodape">
  <!-- Zona ML-A. Mobile Leaderboard Rodapé -->
    <div class='zone15'></div>
  <!-- Zona ML-A. Mobile Leaderboard Rodapé -->
</div>
