page-home {
  .slide_home{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    div.item{
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      .categoria_home{
        z-index: 4;
        top: 15px;
        left: 13px;
        color: #ffffff;
        display: inline-block;
        font-size: 11px;
        font-family: 'Lato',sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 10px;
        background: #f44336;
        position: absolute;
      }
      .desc_card{
        .card-content{
          padding: 0;
          background: linear-gradient(to bottom,
            rgba(17, 17, 17, 0) 0%,
            rgba(17, 17, 17, 0.2) 10%,
            rgba(17, 17, 17, 0.95) 100%);
          padding: 20px 10px;
        }
        ion-col{
          padding: 10px;
          .button{
            font-size: 11px;
            font-style: italic;
            color: rgba(212,207,207,0.8);
          }
        }
        p{
          background-color:rgba(0, 0, 0, 0);
          box-sizing:border-box;
          color:rgb(255, 255, 255);
          cursor:auto;
          display:inline-block;
          font-family:Lato, sans-serif;
          font-size:18px;
          font-weight:900;
          line-height:20px;
          text-decoration:none;
          text-size-adjust:100%;
          text-transform:uppercase;
          margin-top: 10px;
          text-align: left;
          padding: 0 10px;
        }
        position: absolute;
        bottom: 0;
      }
    }
  }

  .content_video{
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
    border: solid black 1px;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .navegacao_top{
    position: relative;
    right: 9px;
    margin-top: 9px;
    float: right;
    z-index: 2;
    .button{
      margin-top:20px;
      position:absolute;
      top:0;
      right:0;
      margin-top:0px;
      margin-right:2px;
      font-size:11px;
      color:#999999;
      width:20px;
      height:20px;
      line-height:18px;
      text-align:center;
      background:transparent;
      border:1px solid #cccccc;
      margin-left:2px;
      outline:none;
      padding:0;
      box-shadow:none;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      -o-box-shadow:none;
      opacity:1;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      -o-border-radius:3px;
      border-radius:3px;
      transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      -webkit-transition:all 0.2s ease-in-out;
      -o-transition:all 0.2s ease-in-out;

      &.left{
        left: auto;
        right: 25px;
      }
      &:hover{
        color: #ffffff;
        background: #f44336;
        border: 1px solid #f44336;
      }
    }


  }


  .navegacao{
    position: relative;
    float: left;
    height: auto;
    width: 100%;


    .button{
      font-size: 19.4px;
      position: absolute;
      top: -212px;
      z-index: 2;
      &.left{
        left: 8px;
      }
      &.right{
        right: 8px;
      }
    }
    .button-ios{
      padding: 18px 22.3px;
      font-size: 19.4px;
    }
    .button-md{
      padding: 26.7px 22.3px;
      font-size: 19.4px;
    }
    button.left{
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      .icon {
        position: relative;
        top: 1px;
        right: 2px;
      }
    }
    button.right{
      float: right;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      .icon {
        position: relative;
        top: 1px;
        right: 1px;
      }
    }
  }
  .swiper-slide img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
  .content_slide{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    .categoria_home{
      background-color: #c92027;
      color: #fff;
      float: left;
      padding: 4px;
      position: relative;
      text-transform: uppercase;
      margin-left: 10%;
      width: auto;
      font-size: 13px;
      margin-bottom: 10px;
    }
    .title_home{
      color: #fff;
      position:relative;
      float:left;
      width: 80%;
      height: auto;
      margin: 0 10%;
      font-size: 14px;
    }
    .button-clear-md,
    .note-md{
      color: #fff;
    }
  }
  ion-item-group{
    display: block;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
  }

.elemento_default{
      display: block;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
}
  .item-divider{
      background: 0;
      border: 0;
      width: auto;
      position: relative;
      float: left;
      .input-wrapper{
        position: relative;
        float: left;
        height: auto;
        width: auto;
        .label{
          display: inline-block;
          padding-bottom: 16px;
          padding-right: 5px;
          border-bottom: 1px solid #f44336;
          color: #222222;
          font-size: 15px;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0;
        }
      }
    }
    .item.card,
    .item.list_thumbsnail_item{
      border:0;
      box-shadow: none;
      background-color: #fafafa;
      border-bottom: 1px solid #f0f0f0;
      ion-thumbnail img {
        width: 105px;
        height: 90px;
      }
      .item-inner,
      .card-content {
        display: inline-block;
        .title_thumb_cidade{
          text-align: left;
          position: absolute;
          top: 230px;
          left: 17px;
          padding: 0px 10px;
          z-index: 4;
          color: #ffffff;
          display: inline-block;
          font-size: 11px;
          font-family: 'Lato',sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          padding: 8px 10px;
          background: #f44336;
        }
        .title_thumb_cidade_line{
          margin-bottom: 2px;
          position: relative;
          width: auto;
          float: left;
          color: #f44336;
          display: inline-block;
          font-size: 11px;
          font-family: 'Lato',sans-serif;
          font-weight: 700;
          text-transform: uppercase;
        }
        .title_thumb{
          color: #c92027;
          font-weight: bold;
        }
        .date{
          position: absolute;
          font-size: 12px;
          color: #ccc;
          padding: 0;
          margin: 0;
          .icon{
            color: #ccc;
          }
        }
        h3{
          color: #333333;
          font-weight: bold;
          font-size: 18px;
          text-align: left;
          &.no-img{
            margin-top: 12px;
            margin-bottom: 12px;
          }
        }
        .button-clear-md-light{
          color: #999999;
          padding: 0;
          position: absolute;
          bottom: 0px;
          ion-icon{
            color: #999999;
          }
        }
      }
    }

  .card-background-page{
    ion-slides.slides{
      height: auto;
    }
  }

  .margin-publicidade{
    position: relative;
    float: left;
    height: 55px;
    width: 100%;
  }
}
.videos{
  background-color: #000;

  .input-wrapper{
    .label{
      color: #fff !important;
    }


  }
  h3{
    color: #fff !important;
  }
  .item{
    border-bottom: none !important;
    background-color: #000 !important;
  }
}
.advertisement{
      float: left;
      position: relative;
      padding: 0;
      text-align: center;
      height: auto;
      width: 100%;
      &.zona_ultimas{
        margin-top: 10px;
      }
      a{
        position: relative;float: left;
        height: auto;
        width: 100%;
        text-align: center;
      }
      hr{

        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .label{
          display: block;
          white-space: nowrap;
          position: absolute;
          background-color: #ffffff;
          letter-spacing: 1px;
          color: #ccc;
          font-size: 10px;
          font-family: 'Lato',sans-serif;
          text-transform: uppercase;
          top: 8px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          padding: 0 10px;
      }
      a{
        position: relative;float: left;height: auto;
        width: 100%;
        margin-top: 15px;
      }
    }
