<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
  <ion-toolbar [hidden]='breadcrumb1==""&&breadcrumb2==""'>
    <ion-title>
      <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
      <span [hidden]='breadcrumb1==""||breadcrumb2==""'>|</span> {{breadcrumb2}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1 class='title' [innerHTML]=title></h1>

  <ion-grid class='indicativos'>
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="ios-time-outline"></ion-icon>
          {{created_1}}
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="person"></ion-icon>
          <div>por {{uid}}</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="text"></ion-icon>
          <div>{{comment_count}}</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button icon-left small outline class='pull_left share_all' (click)="Share()">
          <ion-icon name="share"></ion-icon>
          compartilhar
        </button>
        <ul class='redes_sociais pull_left'>
          <li class='facebook'>
            <a href="#" (click)="shareFacebook()" >Share on Facebook</a>
          </li>
          <li class='twitter'>
            <a href="#" (click)="shareTwitter()">Share on Twitter</a>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="img_home" [hidden]='image==""'>
    <img width="100%" height="auto" src="{{image}}" imageViewer={{image1}}>
  </div>

  <div class="publicidade" >
    <span class='label'>PUBLICIDADE</span>
    <!-- Zona ML-E. Mobile Leaderboard Interno 1 -->
      <div class="zone30"></div>
    <!-- Zona ML-E. Mobile Leaderboard Interno 1 -->
  </div>

  <div class="body_home" [innerHTML]="bodyHtmlString"></div>
  <div class="galeria_home" [hidden]='galeria==""'>
    <div *ngFor="let slide of galeria;let i = index;" class='image_item'>
      <img src="{{slide}}" class="slide-image" imageViewer={{galeria_original[i]}} />
    </div>
  </div>
  <div class="publicidade" >
    <span class='label'>PUBLICIDADE</span>
    <!-- Zona AB-C. Arroba Interno 1 -->
      <div class="zone19"></div>
    <!-- Zona AB-C. Arroba Interno 1 -->
  </div>
  <ion-item class='tags' [hidden]='field_tags==""'>
    <ion-icon name="pricetag"></ion-icon> {{field_tags}}
  </ion-item>
  <!-- Inicio do Cotidiano APENAS HOME-->
  <ion-item-group  class='list_thumbsnail'>
    <ion-item-divider color="light">Você também pode gostar de</ion-item-divider>
    <div *ngFor="let materia_destaque_semana of materias_destaque_semana">
      <ion-item class='list_thumbsnail_item' (click)='getMateria(materia_destaque_semana)'>
        <ion-thumbnail item-left [hidden]='materia_destaque_semana.field_image==""'>
          <img src="{{materia_destaque_semana.field_image}}">
        </ion-thumbnail>
        <p  class='title_thumb_cidade_line'>{{cidade==true?materia_destaque_semana.field_category:materia_destaque_semana.field_url_cidade_1==""?materia_destaque_semana.field_category:materia_destaque_semana.field_url_cidade_1}}</p>
        <h3 style="white-space:normal;clear:both;" class="{{materia_destaque_semana.field_image=='' ? 'no-img' : 'has-img' }}">{{materia_destaque_semana.title}}
        </h3>
      </ion-item>
    </div>
  </ion-item-group>
  <!-- Fim Cotidiano -->
  <div class="publicidade" >
    <span class='label'>PUBLICIDADE</span>
    <!-- Zona AB-D. Arroba Interno 2 -->
      <div class="zone20"></div>
    <!-- Zona AB-D. Arroba Interno 2 -->
  </div>
  <!-- Inicio Zona TopUai - App - Home - Footer -->
  <div class='margin-publicidade'></div>

</ion-content>
  <div class="publicidade-rodape">
  <!-- <!-- Zona ML-A. Mobile Leaderboard Rodapé -->
  <div class="zone15interna"></div>
  <!-- Zona ML-A. Mobile Leaderboard Rodapé-->
</div>
