page-materia {
  .scroll-content {
    margin-bottom: 100px !important;
  }
  h1.title{
    color: #333333;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 2px;
    margin-top: 10px !important;
  }
  .content-ios{
     h1.title{
      margin-top: 0px !important;
     }
  }
  .indicativos{
    padding-left: 0;

    ion-col{
      padding: 0;
    }

    .label{
      white-space: normal;
      margin: 0;
      font-style: italic;
    }
    .button{
      font-size: 1.1rem;
      color: #999999;
      padding: 3px;
      margin: 0;
      font-weight: 700;
      margin-right: 8px;
      font-family: 'Lato', sans-serif;
    }
    .share_all{
      margin-top: 6px;
      border-color: #999999;
      margin-right: 5px;
    }
    .redes_sociais{
      position: relative;
      float: left;
      margin:0;
      padding :0;
      margin-top: 5px;
      margin-bottom: 5px;
      li{
        display: inline;
        margin-right: 2px;
        position: relative;
        float: left;
        a{
          text-indent: -10000px;
          position: relative;
          float: left;
          width: 26px;
          height: 26px;
          background-size: contain;
        }
        &.facebook{
          a{
            background-image: url(../assets/images/facebook.png);
          }
        }
        &.twitter{
          a{
            background-image: url(../assets/images/twitter.png);
          }
        }
      }
    }
    .pull_left{
      position: relative;
      float: left;
    }
  }
  .body_home_sumario{
    margin-bottom: -3px;
    margin-top: 10px;
  }

  .galeria_home{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    .image_item{
      position: relative;
      float: left;
      height: auto;
      width: 31%;
      margin: 1%;
    }
  }

  .video-embed-field-responsive-video{
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
    border: solid black 1px;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .navegacao{
    position: relative;
    width: 100%;
    z-index: 1;
    .button{
      font-size: 19.4px;
      position: absolute;
      top: -165px;
      &.right{
        right: 0;
      }
    }
    .button-ios{
      padding: 18px 22.3px;
      font-size: 19.4px;
    }
    .button-md{
      padding: 26.7px 22.3px;
      font-size: 19.4px;
    }
    button.left{
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      .icon {
        position: relative;
        top: 1px;
        right: 2px;
      }
    }
    button.right{
      float: right;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      .icon {
        position: relative;
        top: 1px;
        right: 1px;
      }
    }
  }


  .body_home{
    font-size: 14px;
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    img{
      max-width: 100%;
      height: auto;
    }

    blockquote{
      padding: 6px;
      padding-left: 50px;
      background: #eeeeee;
      border: none;
      margin: 0 0 20px;
      clear: both;
      position: relative;
      padding-bottom: 20px;
      p{
        color: #222222;
        font-size: 18px;
        font-style: italic;
        margin-bottom: 0;
        line-height: 24px;
      }
      &:before {
        content: '\201C';
        position: absolute;
        top: 20px;
        left: 10px;
        font-size: 72px;
        color: #222222;
        font-family: georgia;
        line-height: 70px;
        font-weight: 700;

      }
    }

    .advertisement{
      float: left;
      position: relative;
      padding: 0;
      text-align: center;
      height: auto;
      width: 100%;
      img{
        padding:0;
      }
      a{
        position: relative;float: left;
        height: auto;
        width: 100%;
        text-align: center;
        margin-top: 0;
      }
      hr{

        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .label{
          display: block;
          white-space: nowrap;
          position: absolute;
          background-color: #ffffff;
          letter-spacing: 1px;
          color: #ccc;
          font-size: 10px;
          font-family: 'Lato',sans-serif;
          text-transform: uppercase;
          top: 8px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          padding: 0 10px;
      }
      a{
        position: relative;float: left;height: auto;
        width: 100%;
        // margin-top: 15px;
      }
    }
  }

  .count{
    font-size: 12px;
    text-align: center;
    div{
      font-size: 12px;
    }
  }

  .social_area{
    margin-bottom: 50px;
    button{
      margin: 0 auto;
    }
  }
  .tags{
    .label{
      font-size: 12px;
      color: #999999;
    }
  }

  .comentarios_block{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
  }

  .comments{
    .field--name-user-picture{
      display: none;
    }
    li{
      display: block;
    }
  }

  .swiper-pagination-bullet{
    opacity: 0.6;
    &.swiper-pagination-bullet-active{
      background: #f44336;
    }
  }
  .item-divider{
    background: 0;
    border: 0;
    width: auto;
    position: relative;
    float: left;
    .input-wrapper{
      position: relative;
      float: left;
      height: auto;
      width: auto;
      .label{
        display: inline-block;
        padding-bottom: 16px;
        padding-right: 5px;
        border-bottom: 1px solid #f44336;
        color: #222222;
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
      }
    }
  }
  .item.card,
    .item.list_thumbsnail_item{
      border:0;
      box-shadow: none;
      background-color: #fafafa;
      border-bottom: 1px solid #f0f0f0;
      ion-thumbnail img {
        width: 105px;
        height: 90px;
      }
      .item-inner,
      .card-content {
        display: inline-block;
        .title_thumb_cidade{
          background-color: #f44336;
          text-transform: uppercase;
          font-size: 16px;
          padding: 0px;
          font-weight: 600;
          margin-bottom: 2px;
          text-align: left;
          position: absolute;
          top: 262px;
          color: #fff;
          padding: 0px 10px;
        }
        .title_thumb_cidade_line{
          margin-bottom: 2px;
          position: relative;
          width: auto;
          float: left;
          color: #f44336;
          display: inline-block;
          font-size: 11px;
          font-family: 'Lato',sans-serif;
          font-weight: 700;
          text-transform: uppercase;

        }
        .title_thumb{
          color: #c92027;
          font-weight: bold;
        }
        .date{
          position: absolute;
          font-size: 12px;
          color: #ccc;
          padding: 0;
          margin: 0;
          .icon{
            color: #ccc;
          }
        }
        h3{
          color: #333333;
          font-weight: bold;
          font-size: 18px;
          text-align: left;
          &.no-img{
            margin-top: 12px;
            margin-bottom: 12px;
          }
        }
        .button-clear-md-light{
          color: #999999;
          padding: 0;
          position: absolute;
          bottom: 0px;
          ion-icon{
            color: #999999;
          }
        }
      }
    }
}
.platform-android{
  .scroll-content{
    margin-top: 48px !important;
  }
}

.platform-ios{
  .scroll-content{
      margin-top: 88px !important;
  }
}
