<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non efficitur lorem, ut condimentum justo. Phasellus semper scelerisque sodales. Quisque vel leo libero. Sed et nisi augue. Donec orci felis, pellentesque ac posuere quis, consequat non dolor. Fusce id enim mauris. Vivamus eu rutrum massa. Etiam dignissim, metus non posuere feugiat, augue risus semper dui, vel hendrerit elit ante in lectus. Suspendisse posuere luctus ullamcorper. Morbi pellentesque velit id enim accumsan viverra. Integer arcu odio, ornare varius bibendum ut, bibendum sit amet ex. Mauris molestie sagittis libero, iaculis bibendum purus iaculis nec. Cras eget facilisis neque. Aenean lobortis arcu eget tellus rutrum malesuada.

Curabitur accumsan elit mi, ut luctus risus dignissim id. Donec volutpat eget ex vitae vestibulum. Integer pharetra nibh sapien, non consectetur velit hendrerit vitae. Suspendisse pretium lorem et aliquet mollis. Praesent sit amet turpis quam. Vestibulum ullamcorper tortor nisi, eget convallis tellus consectetur in. Aenean non odio neque. In risus nisl, imperdiet vitae nisl eget, ornare mollis nibh. Morbi dapibus venenatis turpis nec ultricies.

<button ion-button full color="topuai" (click)="closeDialog();">Fechar</button>
</ion-content>
