<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
      <ion-label>Selecione uma cidade para ser sua página inicial</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Defina sua home</ion-label>
    <ion-select [(ngModel)]="cidade" (ngModelChange)="saveCidade($event)">
      <ion-option color="dark" *ngFor="let c of cidades" value="{{c.tid[0].value}}" >{{c.name[0].value}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item>
    <ion-label> Notificações</ion-label>
      <ion-toggle checked="false" [ngModel]="notificacoes" (ngModelChange)="saveNotificacao($event)" color="dark"></ion-toggle>
  </ion-item> -->
</ion-content>
