<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
    <ion-toolbar>
      <ion-title>
        <ion-icon color="dark" name="pin" [hidden]='breadcrumb1==""'></ion-icon> {{breadcrumb1}}
        <span [hidden]='breadcrumb2==""'>|</span> {{breadcrumb2}}
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper-image">
    <img class="thumbnail-promocao" src="{{promocao.field_empresa_divulgacao}}">
    <ion-badge class="percent" color="topuai">{{promocao.field_empresa_desconto}}</ion-badge>
  </div>
  <h2>{{promocao.title}}</h2>
  <div class="body">
    <p>{{promocao.field_empresa_obrigatoriedade}}</p>
  </div>
  <ion-item>
    <button color="primary" ion-button full>
      <ion-icon name="call"></ion-icon>
      <a ion-button href="tel:{{promocao.field_empresa_telefone}}">Ligar {{promocao.field_empresa_telefone}}</a>
    </button>
  </ion-item>
  <ion-item>
    <ion-icon name="pin" item-left color="dark"></ion-icon>
      <p style="white-space:normal;" [hidden]='promocao.field_empresa_endereco_address_line1==""'>{{promocao.field_empresa_endereco_address_line1}}<span [hidden]='promocao.field_empresa_endereco_locality==""'> - {{promocao.field_empresa_endereco_locality}}</span><span [hidden]='promocao.field_empresa_endereco_postal_code==""'> - {{promocao.field_empresa_endereco_postal_code}}</span><span [hidden]='promocao.field_empresa_endereco_administrative_area==""'> - {{promocao.field_empresa_endereco_administrative_area}}</span>
      </p>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" item-left color="dark"></ion-icon>
    Início
    <ion-badge class="date" item-right color="light">{{promocao.field_empresa_data_inicial}}</ion-badge>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" item-left color="dark"></ion-icon>
    Fim
    <ion-badge class="date" item-right color="light">{{promocao.field_empresa_data_final}}</ion-badge>
  </ion-item>
</ion-content>
