page-promocao {
	.scroll-content {
		padding: 2% 5%;

		.item {
			padding-left: 0;

			.item-inner {
				padding: 0 5%;

				.label {
					margin-right: 0;
				}
			}
		}

		.wrapper-image{
		  margin: 0 -7%;
	    position: relative;
	    height: 160px;
	    overflow: hidden;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	    img {
	    	width: 100%;
		    left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    position: absolute;
	    }
		}
		.percent.badge {
			// margin-left: 14px;
	    position: relative;
	    padding: 5px;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    font-size: 20px;	
		}
		.percent.badge:after{
			right: 100%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    border-color: rgba(136, 183, 213, 0);
	    border-width: 22px;
	    top: 50%;
	    left: -42px;
	    margin-top: -22px;
	    border-right-color: #f44336;
		}
		.button{
			height: 36px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

			a{
				box-shadow: none;
			}
		}

		.date{
			padding: 10px;
		}

		.body {
			color: #666666;
		}
	}

}
