// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  ok:         #47ce32,
  topuai:     #f44336,
  facebook:   #3b5998,
  twitter:    #00aced,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
.header{
  ion-navbar{
    .toolbar-title{
      text-align: center;
      font-size: 12px;
      padding-top: 6px;
      .title-image {
        height: 30px;
      }
    }
  }
  .toolbar-md {
    padding: 4px;
    min-height: 25px;
    text-align: center;
  }
  ion-toolbar {
    &.toolbar-ios{
      min-height: 33px;
    }
    ion-title{
      padding: 0;
      .toolbar-title{
        font-size: 16px;
      }
      ion-icon {
        padding-top: 1px;
      }
    }
  }
  .toolbar-content-md {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }
}
.icon[ng-reflect-name=play]{
    background-image: url(../assets/images/triangulocinza.png);
    color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  &[ng-reflect-is-active=true]{
    background-image: url(../assets/images/topuaibranco.png);
  }
}
.menu_lateral{
  .icon[ng-reflect-name=play]{
    background-image: url(../assets/images/topuaimenu.png);
  }
}
.icon[ng-reflect-name=star]{
  color:#ffc500 !important;
}
.icon_fixed{
  position: absolute;
  top: 11px;
  right: 8px;
}
.publicidade-rodape {
  position: fixed;
  z-index: 9999;
  width: 100%;
  text-align: center;
  background: #fff;
  font-size: 0;
}
.ios .publicidade-rodape {
  bottom: 50px;
}
.md .publicidade-rodape {
  bottom: 56px;
}

.label_publicidade{
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  font-size: 11px;
  color: #000;
}
.pull_left{
  position: relative;
  float: left;
}
.platform-android{
  .menu-inner{
    .toolbar{
      min-height: 40px;
      .title{
        margin-top: 12px;
      }
    }
    .scroll-content{
      margin-top: 40px !important;
    }
  }
  .ion-page{
    .padding_top{
      ion-refresher{
        top: 65px !important;
      }
      .scroll-content{
        margin-top: 67px !important;
      }
    }
  }
}
.platform-ios{
  .menu-inner{
    .scroll-content{
      margin-top: 64px !important;
    }
  }
  .ion-page{
    .padding_top{
      ion-refresher{
        top: 65px !important;
      }
      .scroll-content{
        margin-top: 97px !important;
      }
    }
  }
}
.publicidade{
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  margin: 5px 0;
  iframe{
    width: 100%;
  }
  hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
  .label{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    text-align: center;
    display: block;
    white-space: nowrap;
    background-color: #ffffff;
    letter-spacing: 1px;
    color: #ccc;
    font-size: 10px;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    padding: 6px 10px;
  }
}

