<ion-menu [content]="content" type="push" >
  <ion-header >
    <ion-toolbar color="dark">
      <ion-title color="light">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

      <ion-item [hidden]="sessao==null">
<!--         <ion-avatar item-left>
          <img src="{{avatar===0 ? 'assets/images/picuser.png' : avatar}}" >
        </ion-avatar> -->

        <button ion-button icon-right color="light" (click)="openProfilePage()">
          <h2>{{nome}}</h2>
          <ion-icon name="create" color="dark"></ion-icon>
        </button>
      </ion-item>

    <ion-list class='menu_lateral'>
      <div ion-item *ngFor="let p of pages" [hidden]="!p.visible">
        <button no-lines ion-item (click)="openPage(p)">
          <ion-icon color="dark" item-left [name]="p.icon1"></ion-icon>
            {{p.title}}
        </button>
        <ion-icon color="dark" item-right class='icon_fixed' [name]="p.icon2" [hidden]="!p.hasSubMenu" (click)="toggleDetails(p)"></ion-icon>
        <div *ngIf="p.showDetails" >
          <ion-list no-lines padding-left>
            <div ion-item *ngFor="let cidade of p.data" >
              <button ion-item  (click)="openPage(cidade,p.data)">
                {{cidade.name[0].value }}
              </button>
              <ion-icon color="dark" item-right class='icon_fixed' [name]="cidade.icon2" [hidden]="!cidade.hasSubMenu" (click)="toggleDetails(cidade)"></ion-icon>
              <div  *ngIf="cidade.showDetails" >
                <ion-list no-lines padding-left>
                  <button ion-item *ngFor="let categoria of cidade.categorias" (click)="openPageCidade(categoria,cidade)">
                    {{ categoria.name[0].value }}
                  </button>
                </ion-list>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-list>
    <div class='version'>{{version}}</div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
