<ion-header>
  <ion-navbar color="dark" hideBackButton>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefreshOffLine($event)">
     <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Verificando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item class='alertIcon'>
    <ion-icon name="alert" class='larger ' text-center></ion-icon>
  </ion-item>
  <ion-item text-center>
    Ocorreu uma falha na conexão.
  </ion-item>
 <!--Basic: auto-select the icon based on the platform -->
</ion-content>
