.ios{
  page-cartao {
    .cartao_container{
      top: 138px !important;
    }
  }
}
page-cartao {
  .aling_cartao{
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    display: table;
    .cartao_container{
      background-image: url('../assets/images/cartao.png');
      width: 515px;
      height: 281px;
      position: relative;
      margin-left: -252px;
      float: left;
      background-repeat: no-repeat;
      top: 130px;
      left: 50%;
       -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari */
      transform: rotate(90deg);
      @media screen and (orientation:landscape) {
        /* portrait-specific styles */
        top: 5px;
         -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
      }
      .content_cartao{
        color: #fff;
        span.label{
          font-weight: normal;
          font-size: 12px;
          color: red;
          padding-right: 2px;
          margin-top: 2px;
        }
        .foto{
          margin-left: 65%;
          margin-top: 12%;
          height: 91px;
        }
        .cpf{
          margin-left: 11%;
          font-size: 13px;
          font-weight: bold;
          position: relative;
          float: left;
          height: auto;
          width: auto;

        }
        .nome{
          margin-left: 5%;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        .id{
          margin-left: 5%;
          font-size: 13px;
          font-weight: bold;
          position: relative;
          float: left;
          height: auto;
          width: auto;
          clear: right;
          margin-bottom: 2px;
        }
        .nasc{
          margin-left: 5%;
          font-size: 13px;
          font-weight: bold;
          position: relative;
          float: left;
          height: auto;
          width: auto;
          clear: both;
          margin-bottom: 2px;
        }
        .membro{
          margin-left: 2%;
          font-size: 13px;
          font-weight: bold;
          position: relative;
          float: left;
          height: auto;
          width: auto;
        }
        .cidade{
          margin-left: 5%;
          font-size: 20px;
          position: relative;
          float: left;
          margin-top: 2px;
          font-weight: bold;
        }
        .uf{
          margin-left: 5%;
          font-size: 13px;
          font-weight: bold;
          position: relative;
          float: left;
          height: auto;
          width: auto;
          clear: both;
        }
        .msgs{
          position: absolute;
          bottom: 11px;
          width: 100%;
          .mensagem{
            clear: both;
            margin-top: 12px;
            margin-left: 5%;
            font-size: 9px;
            font-weight: bold;
            position: relative;
            float: left;
            height: auto;
            width: auto;
            clear: both;
            color: #fff;
          }
          .mensagem2{
            clear: both;
            margin-top: 1px;
            margin-left: 5%;
            font-size: 9px;
            font-weight: bold;
            position: relative;
            float: left;
            height: auto;
            width: auto;
            clear: both;
            color: #fff;
          }
        }
      }
    }
  }
}
