
<ion-content class="card-background-page">
<div class='aling_cartao'>
  <div class='cartao_container'>
    <div class="content_cartao">
      <div class='foto' [hidden]='foto==""'></div>
      <div class='nome' [hidden]='nome==""'>{{nome}}</div>
      <div class='id' [hidden]='id==""'><span class="label">Código:</span> {{id}}</div>
      <div class='cpf' [hidden]='cpf==""'><span class="label">CPF:</span>{{cpf}}</div>
      <div class='nasc' [hidden]='nasc==""'><span class="label">Nascimento:</span> {{data}}</div>
      <div class='membro' [hidden]='membro==""'><span class="label">Membro desde:</span> {{membro}}</div>
      <div class='uf' [hidden]='uf==""'><span class="label">Estado:</span>{{uf}}</div>
      <div class='msgs'>
        <div class='mensagem'>Todos os direitos reservados TOP UAI. 2017</div>
        <div class='mensagem2'>Seu portal de informações do Triângulo Mineiro e Alto Paranaiba</div>
      </div>
    </div>
  </div>
</div>
</ion-content>
