<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img class="title-image" src="assets/images/topuai_logo.png" /></ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>Selecione sua cidade</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="GetCidade">

  <ion-list radio-group [(ngModel)]="formCidades" name='cidades'>
    <ion-list-header>
      Cidades
    </ion-list-header>
    <ion-item *ngFor="let c of cidades">
      <ion-label>{{c.name[0].value}}</ion-label>
      <ion-radio value="{{c.tid[0].value}}"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button (click)="cidadeForm()" full color="dark">Entrar</button>

</ion-content>
